* {
    margin: 0px;

    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(./assets/marek-piwnicki-KoZnK1C2CgY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    backdrop-filter: blur(15px);

    width: 100vw;
    height: 100vh;

    padding: 100px 200px 400px 200px;
}


/* SEARCH DIV */ 

.search {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.search > input {
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}

.search > img {
    align-self: center;

    height: 50px;
    width: 50px;
}

input:focus {
    outline: none;
}

/* CITY H1 */

.city {
    display: flex;
    justify-content: center;
    align-content: center;

    height: auto;
}

.city > p {
    font-size: 80px;
}

/* DATA */

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
    font-size: 40px;
}

.data > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 60px;
    width: 100vw;
    bottom: 0px;
    left: 0px;

    background-color: grey;
    opacity: 0.7;
    position: fixed;
}

.footer > img {
    height: 40px;
    width: 40px;
}

.footer > a {
    font-size: 20px;
    text-decoration-line: none;
    color: black;
}